body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #424242;
}
.container {
    max-width: 800px;
    margin: auto;
    background: rgb(97, 96, 96);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color:white
}
h1 {
    color: #ffffff;
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #45a049;
}

a{
    padding: 20px;
    color:cornflowerblue;
}
a:hover{
    color: darkblue;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 3px;
    border-radius: 8px 0 0 0 ;
}
